@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
    margin:0;
    padding:0;
    
}

body{
    font-size: 16px;
    background-color: #0D0B17;

}
.container{
    
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    
}

p{
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 1.2em;
    line-height : 1.7em;
}

ul{
    list-style-type:disc
}
li{
    color: #FFA1FF; 
    padding-left: 0.2em;
    padding-bottom: 1.5em;
    
}
li p{
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: 1.2em;
}

h2{
    font-family: 'Titillium Web', sans-serif;
    color: #FFA1FF;    ;
    font-weight: 600;
    font-size: 1.7em;
    letter-spacing: 0.2em;

}
span{
    color:#FFA1FF ;
}
.banner{
    padding-right:10%;
    padding-left:10%;
    width: 80%;
    grid-column: 2/4;
    grid-row: 1/2; 
    margin-bottom:-1%;
    
}
.juegahora{
    width: 30%;
}

.subtitle{
    background-image: url(../img/tablero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/4; 
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
    
}
.subtitle h3{
    font-size:1.3em ;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    padding-bottom: 30%;
}



.textohistoria{
    color: white;
    grid-column: 2/3;
    grid-row: 3/4;
    font-family: 'Cabin', sans-serif;
    margin-bottom: 15%;
    
}

.agujeronegro{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 85%;
    margin-left: 0%;
}

.textohistoria p{
    font-size: 1.2em;
    
}

.requisitos{
    grid-column: 2/4;
    grid-row: 4/5;
    margin-bottom: 2%;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.2em;
    padding-left: 5%;
    padding-right: 5%;
}

.requisitos ul{
  list-style:none;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
}

.requisitos ul li {
  border-right: 4px solid #FFA1FF;
  padding-left:3%;
  padding-right:3%;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 1.8%;
}

.requisitos h3{
    font-size: 1.4em;
    color: white;
}

.requisitos ul li:nth-child(5n) {
    border-right: none;
}

.titulonaves{
    grid-row: 5/6;
    grid-column: 2/4; 
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, rgba(13,11,23,1) 0%, rgba(13,11,23,1) 9%, rgba(20,15,30,1) 28%, rgba(20,15,30,1) 74%, rgba(13,11,23,1) 93%, rgba(13,11,23,1) 100%);
}


.naves{
    background: linear-gradient(to right, rgba(13,11,23,1) 0%, rgba(13,11,23,1) 9%, rgba(20,15,30,1) 28%, rgba(20,15,30,1) 74%, rgba(13,11,23,1) 93%, rgba(13,11,23,1) 100%);    grid-row: 5/6;
    grid-column: 2/4; 
    grid-row: 6/7;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 5%;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

.videotutorial{
    grid-row: 7/8;
    grid-column: 2/4;
    height: 35em;
}
iframe{
    width: 50%;
    height: 80%;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
}

.contenido{
    grid-column: 2/4;
    grid-row: 8/9;
    text-align: center;
}
.contenidos{
    
    width: 80%;
}
.contenido h2{
    padding-top: 0%;
    padding-bottom: 3%;
}
.comojugar{
    grid-row: 9/10;
    grid-column: 2/4; 
    text-align: center;
    padding-top: 2%;
    margin-bottom: 5%;
    padding-left: 25%;
    padding-right: 25%;
}
.comojugar p{
    border-bottom: 4px solid #FFA1FF;
    font-size: 1.4em;
    padding-bottom: 5%;
}
.comojugar p span{
    font-size: 1.5em;
    padding-top: 2%;
    padding-bottom: 10%;
    
}
.comojugar h3{
    font-size: 1.5em;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: center;
    border-top: 4px solid #FFA1FF;
}

.comojugar h2{
    padding-top: 5%;
    padding-bottom: 5%;
    
}


.tablero{
    grid-row: 10/11;
    grid-column: 2/3; 
    width: 90%;
    padding-top: 10%;
    padding-right: 9%;
    padding-bottom: 46%;
    margin-bottom: 15%;
    background: linear-gradient(to right, rgba(13,11,23,1) 0%, rgba(20,15,30,1) 78%, rgba(20,15,30,1) 99%, rgba(20,15,30,1) 100%);
    border-right: 4px solid #FFA1FF;
}

.comienzo{
    grid-row: 10/11;
    grid-column: 3/4; 
    padding-left: 5%;
    margin-bottom: 15%;
    
}

.comienzo h2{
    padding-bottom: 3%;
}

.comienzo ul{
    padding-left: 3%;
}
.movimiento{
    padding-top: 5%;
    width: 90%;
}

.bases{
    grid-row: 11/12   ;
    grid-column: 2/3;
    padding-right: 5%; 
    margin-bottom: 15%;
    border-right: 4px solid #FFA1FF; 
}
.bases ul{
    padding-left: 4%;
}
.bases h2{
    padding-bottom: 5%;
    
}
.bases ul li ul {
    list-style: none;
    padding-top: 3%;
}
 .bases ul li ul li {
     padding-bottom: 0.1em;
 }

.screenshotstab{
    grid-row: 11/12   ;
    grid-column: 3/4;
    width: 90%;
    padding-bottom: 3%;
    padding-left: 5%;
    margin-bottom: 15%;
}

.cartaataque{
    padding-top: 12%;
    grid-row: 12/13;
    grid-column: 2/3;
    width: 90%;
    padding-right: 9.5%;
    padding-bottom: 15%;
    background: linear-gradient(to right, rgba(13,11,23,1) 0%, rgba(20,15,30,1) 78%, rgba(20,15,30,1) 99%, rgba(20,15,30,1) 100%);
    border-right: 4px solid #FFA1FF;
    margin-bottom: 15%;

}

.ataque{
    grid-row:12/13   ;
    grid-column: 3/4;
    padding-right: 3em; 
    padding-left: 5%;
    margin-bottom: 15%;
}

.ataque h2{
    padding-bottom: 5%;
}
.ataque ul{
    padding-left: 3%;
}
.contillustr{
    grid-row:13/14;
    grid-column: 2/4;
    display: inline-flex;
    justify-content: space-between;  
    flex-wrap: wrap;
}
.contillustr p{
    padding-left: 5%;
    padding-right: 5%;
}
.fotoillu{
    width: 33%; 
}
.fotoillustra{
    width: 100%;
}

.sabermas{
    grid-row:14/15;
    grid-column: 2/4;
    width: 33%;
    display:flex;
    margin-left: 33%;
    border-top: 4px solid #FFA1FF;
    margin-bottom: 10%;
    
}
.docu{
    width: 10%;
    padding-top: 1em;
    padding-right: 5%;
}
.sabermas p{
    margin-top: 0.5em;
}

.habilidades{
    grid-row:15/16;
    grid-column: 2/3;
    padding-right:9%;
    margin-bottom: 15%;
}

.habilidades h2{
    padding-bottom: 5%;

}
.habilidades ul{
    padding-left: 3%;
}


.cartahabilidad{
    grid-row:15/16;
    grid-column: 3/4;
    width: 90%;
    background: linear-gradient(to left, rgba(13,11,23,1) 0%, rgba(20,15,30,1) 78%, rgba(20,15,30,1) 99%, rgba(20,15,30,1) 100%);
    border-left: 4px solid #FFA1FF;;
    padding-left: 9.5%;
    padding-bottom: 25%;
    padding-top: 12%;
    margin-bottom: 15%;
}

footer{
    background-color: #140f1e;
    height: 10em;
    text-align: center;
}
.bannerfoot{
    width: 20%;
    padding-top: 2.5%;
}

@media (max-width: 1400px) {
    body{
        font-size: 11px;
    }
    .docu{
        height: 20%;
    }
}

@media (max-width: 600px) {
   
    body{
        background-color: #0D0B17;
    }
    .container{
       
        display: grid;
        grid-template-columns: 10% auto 10%;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    
    }

    .banner{
        width: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
        padding-left: 0;
        padding-right: 0;
       
    }

    .subtitle{
        background-image: url(../img/tablero2.png);
        text-align: center;
        grid-row: 2/3;
        grid-column: 1/4; 
        background-size: contain;
        height: 100%;
        
        background-repeat: no-repeat;
        background-position: center;
       padding-top: 20%;
      
    }

    h2 {
        font-size: 1.5em;
    }
    .subtitle h3{
        margin-top: -20%;
        font-size: 1.2em;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 25%;
    }
    .textohistoria{
        margin-top:15%;
        grid-column: 2/3;
        grid-row: 3/4;
        margin-bottom: 5%;
    
    }
    .agujeronegro{
        grid-row: 4/5;
        grid-column: 2/3;
        height: auto;
        width: 100%;
    }
    

    .juegahora{
        width: 50%;  
        padding-top: 60%;
        padding-bottom: 0;
    }
    
    .requisitos{
        grid-column: 2/3;
        grid-row: 5/6;
        margin-bottom: 2%;
        font-family: 'Titillium Web', sans-serif;
        letter-spacing: 0.2em;
        margin: 5%;
    }
    
    .requisitos ul{
      list-style:none;
      display: inline-block;
      flex-grow: 1;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }
    
    .requisitos ul li {
        border-right: none;
        border-top: 2px solid #FFA1FF;
        padding-top:2%;
    }
    
    .requisitos h3{
        font-size: 1.5em;
    }
    .titulonaves{
        grid-row: 6/7;
        grid-column: 2/3; 
        text-align: center;
        padding: 20px;
        background: linear-gradient(to right, rgba(13,11,23,1) 0%, rgba(13,11,23,1) 9%, rgba(20,15,30,1) 28%, rgba(20,15,30,1) 74%, rgba(13,11,23,1) 93%, rgba(13,11,23,1) 100%);
    }
    
    
    .naves{
        background: linear-gradient(to right, rgba(13,11,23,1) 0%, rgba(13,11,23,1) 9%, rgba(20,15,30,1) 28%, rgba(20,15,30,1) 74%, rgba(13,11,23,1) 93%, rgba(13,11,23,1) 100%);    grid-row: 5/6;
        grid-column: 2/3;
        grid-row: 7/8; 
        flex-direction: column;
        height: 100%;
        width: 30%;
        padding-left: 28%;
        padding-bottom: 3%;
        padding-right: 33%;
        flex-grow: 1;
    }
    
    
    .videotutorial{
        grid-row: 8/9;
        grid-column: 2/3;
        margin-left: 0;
        
    }
    iframe{
        height:80%;
        width: 100%;
        padding-bottom: 10%;
        padding-top: 10%;
        padding-left:0 ;
        padding-right: 0;
    }
    .contenido{
        grid-row: 9/10;
        grid-column: 2/3;
    }
    .contenido img {
        content:url("../img/contenidos_movil.png");
        width: 100%;
        padding-top: 5%;
    }
    .comojugar{
        grid-row: 10/11;
        grid-column: 2/3; 
        text-align: center;
        padding-top: 20%;
        margin-bottom: 5%;
        padding-left: 0;
        padding-right: 0;
    }

    .comojugar p{
        border-bottom: 4px solid #FFA1FF;
        padding-bottom: 5%;
    }
    .comojugar p span{
        padding-top: 2%;
        padding-bottom: 10%;
        
    }
    .comojugar h3{
        padding-bottom: 5%;
        padding-top: 5%;
        border-top: 4px solid #FFA1FF;
    }
    
    .comojugar h2{
        padding-top: 5%;
        padding-bottom: 5%;
        
    }
    .tablero{
        grid-row: 11/12;
        grid-column: 2/3; 
        width: 100%;
        padding-top: 5%;
        padding-right: 5%;
        padding-bottom: 15%;
        margin-bottom: 15%;
        background: linear-gradient(to top, rgba(13,11,23,1) 0%, rgba(20,15,30,1) 78%, rgba(20,15,30,1) 99%, rgba(20,15,30,1) 100%);
        border-top: 4px solid #FFA1FF;
        border-right: 0; 
    }
    .movimiento{
        width: 100%;
        grid-row: 12/13;
        grid-column: 2/3;
    }
    .comienzo{
        grid-row: 13/14;
        grid-column: 2/3; 
        padding-left: 5%;
        margin-bottom: 15%;
        text-align: left;
    }
    
    .bases{
        grid-row: 14/15;
        grid-column: 2/3;
        border-top: 4px solid #FFA1FF;
        border-right: 0; 
        padding-left: 5%;   
    }
    .bases h2{
        padding-top: 3%;
    }
    .screenshotstab{
        grid-row: 15/16;
        grid-column: 2/3;
        width: 90%;
    }

    .cartaataque{
        padding-top: 10%;
        grid-row: 16/17;
        grid-column: 2/3;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 10%;
        background: linear-gradient(to top, rgba(13,11,23,1) 0%, rgba(20,15,30,1) 78%, rgba(20,15,30,1) 99%, rgba(20,15,30,1) 100%);
        border-top: 4px solid #FFA1FF;
        border-right: 0;
        margin-bottom: 15%;
    
    }
    .ataque{
        grid-row:17/18;
        grid-column: 2/3;
        padding-right: 5%; 
        padding-left: 5%;
        margin-bottom: 15%;
       

    }
    .contillustr{
        grid-row:18/19;
        grid-column: 2/3;
        display: inline-flex;
        justify-content: space-between;  
        flex-direction: column;
    }

    .fotoillu{
        padding-top: 10%;
        width: 100%;
    }
    
    .sabermas{
        grid-row:19/20;
        grid-column: 2/3;
        border-top: 4px solid #FFA1FF;
        margin-left: 0;
        width: 100%;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .docu{
        width: 10%;
        padding-top: 1em;
        padding-right: 5%;
        padding-left: 5%;
    }
    .habilidades{
        grid-row:20/21;
        grid-column: 2/3;
        padding-right:5%;
        padding-left: 3%;
        margin-bottom: 15%;
    }
    .cartahabilidad{
        grid-row:21/22;
        grid-column: 2/3;
        width: 95%;
        background: linear-gradient(to top, rgba(13,11,23,1) 0%, rgba(20,15,30,1) 78%, rgba(20,15,30,1) 99%, rgba(20,15,30,1) 100%);
        border-top: 4px solid #FFA1FF;
        padding-left: 5%;
        padding-bottom: 10%;
        padding-top: 12%;
        margin-bottom: 15%;
        border-left: 0;
    }
    footer{
        background-color: #140f1e;
        height: 10em;
        text-align: center;
    }
    .bannerfoot{
        width: 50%;
        padding-top: 10%;
    }
}